<div class="p-4">
  <section class="heading">
    <span class="page-title font-weight-bold">Review Requests</span>
  </section>

  <div *ngIf="authService.isReviewerOrAdmin(); else notAuthorized">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>User</th>
          <th>Description</th>
          <th>Total</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of requests">
          <td>{{ r.id }}</td>
          <td>{{ r.user.id }}</td>
          <td>{{ r.description }}</td>
          <td>{{ r.total }}</td>
          <td>{{ r.status }}</td>
          <td>
            <i class="bi bi-hand-thumbs-up-fill"
               *ngIf="r.status === 'REVIEW' && isReviewer && r.user.id !== currentUser?.id"
               (click)="approve(r.id)" title="APPROVE"
               style="cursor: pointer; margin-right: 20px;"></i>
            <i class="bi bi-x-square-fill"
               *ngIf="r.status === 'REVIEW' && isReviewer && r.user.id !== currentUser?.id"
               (click)="reject(r.id)" title="REJECT"
               style="cursor: pointer;"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #notAuthorized>
    <p>You are not authorized to view this page.</p>
  </ng-template>
</div>
