<div class="p-4">
  <section class="heading" *ngIf="isAdmin">
    <span class="page-title">Products</span>
    
<div class="p-4">
  <section class="heading centered" *ngIf="isAdmin">
    <div class="add-request-container">
      <span class="add-request-text">Add Product</span>
      <a routerLink="/product-create">
        <img width="20" height="20" src="add-icon.png" title="Add New" style="margin-left: 10px;" />
      </a>
    </div>
  </section>
  <table *ngIf="products && isAdmin" class="table table-hover" style="width: 100%;">
    <thead>
      <th>Id</th>
      <th>Vendor Name</th>
      <th>Part Number</th>
      <th>Name</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Photo</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.id }}</td>
        <td>{{ p.vendor?.name }}</td>
        <td>{{ p.partNumber }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price | currency }}</td>
        <td>{{ p.unit }}</td>
        <td><img [src]="p.photoPath" alt="{{ p.name }}" /></td>
        <td>
          <a routerLink="/product-edit/{{p.id}}">
            <img
              src="/pencil-icon.png"
              width="20"
              height="20"
              title="Edit Product"
            />
          </a>
          |
          <a routerLink="/product-detail/{{p.id}}">
            <img
              src="/details.png"
              width="20"
              height="20"
              title="Product Details"
            />
          </a>
          |
          <a>
            <i class="bi bi-trash3"
              style="cursor: pointer;"
              title="Delete Product"
              (click)="delete(p.id)"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>