<nav class="main-nav">
  <div class="nav-container">
    <a routerLink="/" class="logo-container">
      <img src="PRS.png" alt="PRS" class="logo" />
      <span class="app-name">Purchase Request System</span>
    </a>

    <div class="menu-items">
      <ng-container *ngIf="isLoggedIn()">
        <a *ngFor="let mi of menuItems"
           [routerLink]="mi.href"
           class="menu-item"
           [title]="mi.tooltip"
           [class.active]="mi.href === currentUrl">
          {{ mi.display }}
        </a>
      </ng-container>

      <button *ngIf="isLoggedIn()"
              class="btn btn-outline-light rounded-3 logout-btn"
              (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
