.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.disabled img {
  filter: grayscale(100%);
}

.add-request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.add-request-text {
  font-weight: bold;
  margin-right: 8px;
}